<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Beans_Beans>
            <version>0.9.0</version>
        </Beans_Beans>
    </modules>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <beans_beans_model_observer>
                        <type>singleton</type>
                        <class>Beans_Beans_Model_Observer</class>
                        <method>orderPlaced</method>
                    </beans_beans_model_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_pay>
                <observers>
                    <beans_beans_model_observer>
                        <type>singleton</type>
                        <class>Beans_Beans_Model_Observer</class>
                        <method>orderPaid</method>
                    </beans_beans_model_observer>
                </observers>
            </sales_order_payment_pay>
        </events>
        <helpers>
            <beans>
                <class>Beans_Beans_Helper</class>
            </beans>
        </helpers>
        <models>
            <beans_beans>
                <class>Beans_Beans_Model</class>
                <!--<resourceModel>beans_resource</resourceModel>-->
            </beans_beans>
            <!--<beans_resource>-->
                <!--<class>Beans_Beans_Model_Resource</class>-->
                <!--<entities>-->
                    <!--<beans>-->
                        <!--<table>beans_beans</table>-->
                    <!--</beans>-->
                <!--</entities>-->
            <!--</beans_resource>-->
        </models>
    </global>
    <frontend>
        <routers>
            <beans>
                <use>standard</use>
                <args>
                    <module>Beans_Beans</module>
                    <frontName>beans</frontName>
                </args>
            </beans>
        </routers>
        <layout>
            <updates>
                <module>
                    <file>beans_beans.xml</file>
                </module>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <beans_beans_model_observer>
                        <type>singleton</type>
                        <class>Beans_Beans_Model_Observer</class>
                        <method>customerLogin</method>
                    </beans_beans_model_observer>
                </observers>
            </customer_login>
            <!--<customer_register_success></customer_register_success>-->
        </events>
    </frontend>
</config>